body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    padding:30px;
    margin:0;
    border:10px;
    background-color:blueviolet;
}
input{
    padding: 10px;
    width:400px;
}
button{
    padding: 10px 20px;
    background-color:green;
    color: white;
    border: none;
    box-shadow: 40px;
    border-radius: 15px;
}
li{
    margin:10px;
    list-style: none;
    background: white;
    padding: 10px;
    width:300px;
    margin-left:auto;
    margin-right:auto;
    cursor:pointer;
}